.philosophy,
.research,
.heal {
	display: flex;
	margin-top: 2rem;
	padding: 3rem 5.5rem;
	justify-content: space-between;
	align-items: center;
}

.philosophy__img,
.research__img,
.heal__img {
	width: 30%;
}

.philosophy__body,
.research__body,
.heal__body {
	width: 55%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	line-height: 2;
}

.philosophy__title,
.research__title,
.heal__title {
	color: var(--clr--primary);
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.philosophy__text,
.research__text,
.heal__text {
	color: #000;
	width: 100%;
	font-size: 1.25rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.video__container {
	padding: 2rem 8.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.video__body {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

.video__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.75rem;
	font-weight: 600;
	color: var(--clr--primary);
}

.video__text {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;
}

.video__controls {
	width: 40%;
	position: relative;
}

.video {
	width: 100%;
}

.play__btn {
	display: flex;
	gap: 0.5rem;
	padding: 1rem 2rem;
	justify-content: center;
	align-items: center;
	font-size: 1.125rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	cursor: pointer;
}

.play__icon {
	width: 20px;
}

.video__play__icon {
	position: absolute;
	width: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

/****** subscribe section *******/

.subscribe {
	padding-block: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.subscribe__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.75rem;
	font-weight: 500;
}

.subscribe__form {
	width: 100%;
	width: 35%;
	border: 1px solid #c4c4c4;
	padding: 0.375rem;
	display: flex;
}

.subscribe__email {
	width: 100%;
	display: inline-block;
	font-size: 1.125rem;
	padding-left: 1rem;
	border: 1px solid transparent;
	transition: border 350ms ease-in;
	color: #909090;
}

.subscribe__email:focus {
	outline: 0;
	border-color: var(--clr--primary);
}

@media (max-width: 1600px) {
}
@media (max-width: 1400px) {
	.philosophy,
	.research,
	.heal {
		padding-inline: 6rem;
		flex-direction: column;
	}
	.philosophy__img,
	.research__img,
	.heal__img {
		order: -1;
		margin-bottom: 2rem;
	}

	.video__container {
		padding-inline: 6rem;
	}
}
@media (max-width: 1200px) {
	.philosophy,
	.research,
	.heal {
		padding-inline: 6rem;
	}
	.philosophy__img,
	.philosophy__body,
	.heal__img,
	.heal__body,
	.research__img,
	.research__body {
		width: 100%;
	}
	.video__container {
		padding-inline: 6rem;
	}
}
@media (max-width: 1000px) {
	.philosophy,
	.research,
	.heal {
		padding-inline: 6rem;
	}

	.video__container {
		flex-direction: column;
		padding-inline: 6rem;
	}
	.video__controls,
	.video__body {
		width: 100%;
	}
	.subscribe {
		padding-inline: 1rem;
	}

	.subscribe__form {
		width: 80%;
	}
}
@media (max-width: 800px) {
  :root {
    font-size: 14px;
  }
  .philosophy,
  .research,
  .heal,
  .video__container {
    padding-inline: 2rem;
  }

	.subscribe {
		padding-inline: 1rem;
	}

	.subscribe__form {
		width: 100%;
	}
}
@media (max-width: 700px) {
}
@media (max-width: 600px) {
}
@media (max-width: 500px) {
}
