:root {
	--clr--primary: #008bc5;
	--container--padding: 5rem;
  --font--primary--clr : #404041;
  --font--accent--clr : #767E7E;
	font-size: 16px;
}

@font-face {
	font-family: 'Candara';
	src: url('../font/Candara.ttf');
	src: url('../font/Candara.ttf') format("truetype"),
	  url('../font/Candara_Bold.ttf') format('truetype'),
		url('../font/Candara_Bold_Italic.ttf') format('truetype'),
		url('../font/Candara_Italic.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-size: 1.125rem;
	font-weight: 300;
  font-family: "Candara", sans-serif;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,a,p {
  color: var(--font--primary--clr)
}

h1,h2,h3,h4 {
  font-weight: 700;
}

img {
	max-width: 100%;
	object-fit: cover;
}

button,
input {
	border: 0;
	background-color: 0;
}

/********** general classes **************/

.container {
	padding-inline: var(--container--padding);
}

.btn {
	background-color: var(--clr--primary);
	color: #fff;
	width: fit-content;
	padding: 0.75rem 2rem;
	font-size: 1.25rem;
  font-weight: 700;
}

.icon {
	width: 25px;
	/* aspect-ratio: 1; */
}

/************** free shipping section **********/

.free__shipping {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding-block: 0.2em;
}

.free__shipping__text {
	font-size: 1.2rem;
	font-weight: 400;
  color: #fff;
}

.free__shipping__text .thin {
	font-weight: 300;
}

/************* navbar section ****************/

.navbar {
	padding-block: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.navbar__header {
	display: flex;
	justify-content: space-between;
  align-items: center;
}

.navbar__header__logo {
  width: 150px;
}

.navbar__header__icons {
	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
	width: fit-content;
}

.navbar__icon {
	align-self: flex-end;
	display: flex;
	align-items: flex-end;
  font-weight: 700;
}

.navbar__icon:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  position: relative;
  background-color: #fff;
  z-index: 1000;
  /* transition: all 350ms ease-in-out; */
  /* transform: translateY(4px); */
}
.navbar__icon:nth-child(1) .icon{
  position: absolute;

}
.search__bar {
  display: block;
  width: 100%;
  /* aspect-ratio: 1; */
  border-radius: 100%;
  visibility: hidden;
}

.search__body {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 2rem 3rem;
  border: 1px solid #c4c4c4;
  top: 0;
  left: 0;
  transform: translate(0,3.45rem);
}

.search__body__container {
  display: flex;
  flex-direction: column;
}

.search__body__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.search__results {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search__results .best-seller__card {
  width: 27%;
}

.search__results .best-seller__card .discount {
  top: 0.5rem;
  left: 0.5rem;
}

.search__results .best-seller__card__title {
  font-size: 0.9rem;
}

.search__results .card__rating {
  font-size: 0.825rem;
  gap: 0.25rem;
}

.search__results .best-seller__card__content__text {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--font--accent--clr);
}

.search__results .old__price {
  color: var(--font--accent--clr);
}

.search__results .card__rating__icon {
  width: 20px;
}

.search__view-all {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search__view-all__text {
  font-size: 1.25rem;
  color: var(--clr--primary);
}

.search__view-all__icon {
  width: 20px;
  height: 20px;
}

.navbar__icon:nth-child(1):focus-within {
  width: 1000px;
  transform: translate(-18%,10px);
}
.navbar__icon:nth-child(1):focus-within .icon {
  left: 0.75rem;
}

.navbar__icon:nth-child(1):focus-within .search__bar {
  outline: 0;
  border: 1px solid #c4c4cc;
  background-color: #fff;
  border-radius: 0;
  padding-block: 1rem ;
  padding-left: 3rem;
  visibility: visible;
}

.navbar__icon:nth-child(1):focus-within .search__body {
  display: block;
}

.navbar__icon:last-of-type {
	display: flex;
	align-items: center;
	color: var(--clr--primary);
	gap: 0.5rem;
}

.navbar__tabs {
  position: relative;
	display: flex;
	justify-content: space-between;
}

.navbar__tab {
  position: relative;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--font--primary--clr);
  cursor: pointer;
}

.active__tab {
  color: var(--clr--primary);
}

.menu,
.login-menu {
  position: absolute;
  width: 130px;
  box-sizing: border-box;
  background-color: #fff;
  padding:1rem 0.5rem;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
  box-shadow: 0 0 5px 0px #00000022;
}

.menu {
    transform: translateY(2rem);
}

.login-menu {
  transform: translate(-4.5rem,11rem);
  padding: 0;
  margin: 0;
  width: 150px;
}

.menu::after,
.login-menu::after {
  content: "";
  position: absolute;
  width: 25px;
  aspect-ratio: 2/1;
  background-color: #fff;
  top: -0.75rem;
  clip-path: polygon(0% 100%,50% 0%,100% 100%);
  box-shadow: 0 0 5px 0px #00000022;
}

.menu::after {
  left: 1rem;
}

.login-menu::after {
  right: 1rem;
  background-color: var(--clr--primary);
}

.menu__link {
  display: inline-block;
  padding: 0.25rem 1rem;
  margin-bottom: 0.25rem;
}

.menu__link:last-child {
  margin-bottom: 0;
}

.login-menu__link {
  display: inline-block;
  width: 100%;
  padding: 0.75rem;
  text-align: left;
  color: #000;
}

.my-profile-btn {
  color: white;
  background-color: var(--clr--primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.logout-btn {
  border-top: 1px solid #E5E5E5;
  color: #FF0000;
}

.open {
  display: block;
}

.close {
  display: none;
}

/************ hero section ****************/

.hero {
	display: flex;
	position: relative;
	background-color: #f4f2f4;
}

.hero__content {
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__content__container {
  padding-inline: 8.5rem;
  width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.hero__title {
	font-size: 2rem;
}

.hero__text {
  font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
  font-weight: 400;
  color: var(--font--accent--clr);
  width: 75%;
}

.hero__btn {
}

.hero__image {
	width: 45%;
}

.ask-expert__title {
  color: var(--clr--primary);
}

.hero__title__border {
  width: 55%;
}

.play__btn {
	position: absolute;
	bottom: 0;
	left: var(--container--padding);
	transform: translateY(50%);
	box-shadow: 0 0 4px 2px #00000011;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
}

/******* Best seller Section *********/

.best-seller {
	padding-block: 4rem;
	padding-inline: 8.5rem;
  position: relative;
}

.best-seller__header {
	display: flex;
	justify-content: space-between;
}

.best-seller__header__title {
  font-size: 2.5rem;
}

.best-seller__header__action {
	display: flex;
	color: var(--clr--primary);
	font-size: 1.625rem;
	align-items: baseline;
	gap: 1rem;
}

.best-seller__header__action > .icon {
  width: 20px;
}

.best-seller__slider {
  width: 100%;
  margin-top: 2rem;
}

.swiper {
  width: 100%;
  position: unset;
}

.swiper-wrapper {
  position: unset;
}

.swiper-slide {
  position: unset;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: var(--clr--primary);
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* transform: translateX(4rem); */
  /* z-index: 100; */
} 

.swiper-button-next {
  right: 0;
  transform: translateX(-3rem);
}

.swiper-button-prev {
  left: 0;
  transform: translateX(3rem);
}

.swiper-button-next::after {
  position: absolute;
  right: 50%;
  transform: translateX(60%);
  z-index: 100;
}

.swiper-button-prev::after {
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  z-index: 100;
}

.best-seller__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.discount {
  position: absolute;
  background-color: var(--clr--primary);
  padding: 0.5rem 1rem;
  top: 2rem;
  left: 2rem;
}

.discount__text {
  font-family: "Montserrat",sans-serif;
  font-size: 1rem;
  color: #fff;
}

.product__easy-access {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--clr--primary);
  gap: 1.5rem;
  padding: 1.5rem;
  position: absolute;
  width: 100%;
  top: 20.175rem;
  left: 50%;
  transform: translateX(-50%);
}

.product__icon {
  width: 30px;
  cursor: pointer;
}

.best-seller__card__image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: scale-down;
}

.best-seller__card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.best-seller__card__content__title {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.card__rating {
  font-family: "Montserrat",sans-serif;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
}

.best-seller__card__content__text {
  font-size: 1.125rem;
  font-weight: 700;
}

.card__price {
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  color: #008bc5;
  display: flex;
  gap: 2rem;
}

.old__price {
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  color: var(--font--primary--clr);
  text-decoration: line-through;
}

.card__btn {
  width: 100%;
  text-align: center;
}

.best-seller__card:hover .product__easy-access {
  display: flex;
}

/*********** tabs section *************/

.tabs {
  margin-bottom: 4rem;
}

.tabs__container {
  list-style: none;
  padding-inline: 8.5rem;
  display: flex;
  /* height: 100px; */
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.tab {
  font-family: "Montserrat",sans-serif;
  font-size: 1.25rem;
  padding: 1.25rem 3.125rem;
  font-weight:500;
  border-bottom: 2px solid #F5F5F5;
}

.tabs__body {
  width: 100%;
}

.offers__body {
  width: 100%;
  padding-inline: 8.5rem;
 display: none;
 position: relative;
}

.new-arrival__body {
  width: 100%;
  display: none;
  padding-inline: 8.5rem;
  position: relative;
}

.bundles__body {
  width: 100%;
  padding-inline: 8.5rem;
  display: none;
  position: relative;
}

.active {
  color: var(--clr--primary);
  border-color: var(--clr--primary);
  display: block;
}

/*********** featured categories *************/

.featured-categories {
  padding-inline: 8.5rem;
  margin-bottom: 4rem;
  position: relative;
}

.featured-categories__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.featured-categories__card {
  position: relative;
}

.featured-categories__card__image {
  width: 100%;
  object-fit: cover;
}

.featured-categories__card__btn {
  position: absolute;
  bottom: 3rem;
  width: 90%;
  left: 50%;
  padding-block: 1rem;
  text-align: center;
  font-size: 1.5rem;
  transform: translateX(-50%);
  cursor: pointer;
}

/************ video section ****************/

.video__container {
  position: relative;
  width: 100%;
  margin-block: 4rem 6rem;
}

.video {
  width: 100%;
}

.video__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  aspect-ratio: 16/9;
}

.video__content {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 10%;
}

.video__text {
  width: 75%;
  font-size: 1.625rem;
  font-weight: 400;
  color: #fff;
}

.video__play__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 4rem
}

.video__play__btn {
  width: 50px;
  aspect-ratio: 1;
}

.zero {
  transform: translate(-42vw,50px);
}

.one {
  transform: translate(-21vw,50px);
}

.two {
  transform: translate(0vw,50px);
}

/********** more info section   ************/

.more-info {
	padding-inline: var(--container--padding);
	padding-block: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.more-info__title {
  font-family: "Montserrat", sans-serif;
	font-size: 2rem;
}

.more-info__text {
  font-family: "Montserrat", sans-serif;
	font-size: 1.5rem;
	width: 50%;
	text-align: center;
  color: var(--font--accent--clr);
}

.unique {
	width: 100%;
	padding-block: 3rem;
	display: flex;
	gap: 1.5rem;
  justify-content: center;
}

.unique__card {
	width: 20%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
  /* justify-content: center; */
	align-items: center;
}

.unique__card__image {
	background-color: #f5f5f5;
	/* here to place background image */
  background-repeat: no-repeat;
  background-position: center;
	width: 100%;
  height: 330px;
	/* aspect-ratio: 0.89; */
}

.unique__card:nth-child(1) .unique__card__image {
  background-image: url("../assets/neuth\ icons/Neuth-logo-blue.png");
}

.unique__card:nth-child(2) .unique__card__image {
  background-image: url("../assets/neuth\ icons/skincare-rear-view-young-caucasian-woman-turn-head-back-standing-half-naked-white-wall-smiling-tender-girl-with-no-makeup-natural-beauty-removebg-preview.png");
  background-position: right bottom;
  /* object-fit: cover; */
}

.unique__card:nth-child(3) .unique__card__image {
  background-image: url("../assets/neuth\ icons/Group 23360.png");
  background-position: center bottom;
}

.unique__card:nth-child(4) .unique__card__image {
  background-image: url("../assets/neuth\ icons/portrait-cheerful-young-male-scientist-removebg-preview.png");
}

.unique__card__text {
  font-family: "Montserrat",sans-serif;
	font-size: 1.063rem;
	font-weight: 700;
}

/****** subscribe section *******/

.subscribe {
	padding-block: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.subscribe__title {
  font-family: "Montserrat",sans-serif;
	font-size: 1.75rem;
  font-weight: 500;
}

.subscribe__form {
	width: 100%;
	width: 35%;
	border: 1px solid #c4c4c4;
	padding: 0.375rem;
	display: flex;
}

.subscribe__email {
	width: 100%;
	display: inline-block;
	font-size: 1.125rem;
	padding-left: 1rem;
	border: 1px solid transparent;
	transition: border 350ms ease-in;
	color: #909090;
}

.subscribe__email:focus {
	outline: 0;
	border-color: var(--clr--primary);
}

/******** footer section **********/

.footer {
  padding-block: 2.875rem;
  padding-inline: 8.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f5f3f8;
}

.footer__content {
  display: flex;
  padding-block: 4rem;
}

.footer__logo {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__links {
  width: 75%;
  display: flex;
  gap: 7.25rem;
}

.footer__links__location {
  width: 20%;
}

.footer__links__title {
  font-family: "Montserrat",sans-serif;
  font-size: 1.125rem;
  color: #2E2E2E;
  margin-bottom: 2rem;
}

.footer__links__container {
  display: flex;
  gap: 10rem;
}

.footer__links__left,
.footer__links__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__links__right {
  margin-left: auto;
}

.footer__link,
.footer__links__content {
  font-family: "Montserrat",sans-serif;
  color: #535353;
}

.footer__links__social {
  display: flex;
  flex-direction: column;
}

.facebook__link,
.instagram__link {
  font-family: "Montserrat",sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
}

.facebook__link {
  margin-bottom: 1rem;
}

.facebook__link .icon,
.instagram__link .icon {
  width: 35px;
  aspect-ratio: 1;
  object-fit: scale-down;
  background-color: #fff;
  border-radius: 100%;
}

.copyrights {
  font-family: "Montserrat",sans-serif;
  text-align: center;
  color: #B0B5B4;
}

/* notification style */

.notification__content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000033;
  z-index: 1000;
  display: none;
}

.notification__content__container {
  width: 380px;
  height: 470px;
  background-color: #fff;
  border-radius: 0.5rem;
  position: absolute;
  top: 13%;
  right: 7.5%;
  cursor: auto;
}

.notification__content__header {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  cursor: auto;
}

.notification__content__header__title {
  font-weight: 700;
  text-transform: uppercase;
}

.notification__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  aspect-ratio: 1;
  border-radius: 100%;
  cursor: pointer;
}

.notification__content__body {
  /* display: none; */
  width: 100%;
  height: 78%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.notification__content__body__empty {
  width: 100%;
  height: 78%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  display: none;
}

.empty__notification__icon {

}


.empty__notification__text {
  text-transform: uppercase;
}

.notification__card {
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  padding: 1rem;
  margin-inline: 1.5rem;
}

.notification__card__title {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #F28B2E;
  margin-bottom: 0.5rem;
}

.notification__card__title__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.notification__card__body {
  color: #3D3D3D;
  font-family: "Montserrat",sans-serif;
  font-size: 0.875rem;
}

.notification__card__body small {
  display: block;
  color: #949494;
  font-family: "Montserrat",sans-serif;
  font-size: 0.813rem;
}